@import "../sass/breakpoint";

.custom-dimmer {
  display: none;

  @media screen and (max-width: $desktopPortrait) {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-in-out;
    &.active {
      visibility: visible;
      opacity: 1;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 150;
    }
  }
}
