.field {
  position: relative;
  .prompt.label {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -100%);
    width: auto;
    white-space: nowrap;
    padding: 0.5833em 0.833em;
    font-weight: 700;
    border-radius: 0.28571429rem;
    background: #ffffff;
    border: 1px solid #e0b4b4;
    color: #9f3a38;
    z-index: 9;

    &:before {
      position: absolute;
      content: "";
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      top: 100%;
      left: 50%;
      border-width: 0 1px 1px 0;
      width: 0.6666em;
      height: 0.6666em;
      background-color: inherit;
      border-style: solid;
      border-color: inherit;
    }
  }

  .inline {
    color: #9f3a38;
    font-weight: 700;
  }
}

.markdown-error-msg {
  color: #9f3a38;
}

.custom-textarea {
  width: 100%;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 40px;

  &.warning {
    border: 1px solid #e0b4b4;
    background-color: #fff6f6;
  }
}
