@import "../sass//breakpoint";

.Toastify__toast-container.Toastify__toast-container--bottom-right,
.Toastify__toast-container.Toastify__toast-container--top-right {
  right: 3em;
  width: 500px;
  z-index: 140;
  @media screen and (max-width: $desktopPortrait) {
    right: 2em;
  }
}

.custom-toast {
  padding: 1em !important;
  &.Toastify__toast--success {
    background-color: #fcfff5 !important;
    color: #2c662d !important;
    border-left: 4px solid #2c662d;
    .custom-progress-bar {
      background: #caf3a4 !important;
    }
  }
  &.Toastify__toast--error {
    background-color: #fff6f6 !important;
    color: #9f3a38 !important;
    border-left: 4px solid #e85a58;
    .custom-progress-bar {
      background: #f3a4a4 !important;
    }
  }
  &.Toastify__toast--info {
    background-color: #eadac2 !important;
    color: #573a08 !important;
    border-left: 4px solid #865a0d;
    .custom-progress-bar {
      background: #f3baa4 !important;
    }
  }

  .Toastify__close-button {
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .custom-progress-bar {
    height: 3px;
  }
}
