@import "../sass/variables";
@import "../sass/breakpoint.scss";

.switch-monitor-wrapper {
  .panel-container {
    flex-direction: column;
    border: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
    border-radius: 0.28571429rem;
    background-color: #fff;

    .switch-name-outter {
      display: block;
      border-top: none;
      font-weight: bold;
      padding: 1em 1em;
      white-space: nowrap;
    }
    .panel {
      padding: 1em 1em;
      border-top: 1px solid rgba(34, 36, 38, 0.15);
      display: flex;
      justify-content: center;
      .switch-name-inner {
        display: none;
      }
      img {
        box-shadow: none;
        display: block;
      }
    }

    .switch-monitor {
      text-align: center;
      position: relative;
      .port-label {
        position: absolute;
      }
      .port-number {
        font-size: 12px;
        color: white;
        z-index: 2;
        width: 38px;
        height: 43px;
      }
      .led-status {
        position: absolute;
      }
    }
  }

  @media screen and (max-width: $desktopPortrait) {
    .panel-container {
      height: 600px;
      width: 420px;
      position: fixed;
      top: 17%;
      transition: 0.5s ease-in-out;
      border-radius: 50%;
      border: 1px solid #ff6f00;
      background: #2a3139;
      box-shadow: 0 0 20px black;
      opacity: 0;
      right: -426px;
      .switch-name-outter {
        display: none;
      }

      .panel {
        display: block;
        width: 115px;
        position: absolute;
        top: 50%;
        right: 228px;
        transform: translateY(-50%);
        padding: 0;
        border-top: none;
        img {
          background: black;
        }
        .switch-name-inner {
          display: block;
          color: rgba(255, 255, 255, 0.88);
        }
      }
    }

    .switch-monitor {
      box-shadow: 0 0 10px;
    }

    &.open .panel-container {
      opacity: 1;
      right: -213px;
    }
  }
  @media screen and (max-width: $desktopPortrait) {
    position: fixed !important;
    right: -228px;
    transition: $sidebarTransition;
    z-index: 200;

    &.open {
      right: 0px;
    }
  }
}

.mylar-toggle-btn {
  display: none;
  @media screen and (max-width: $desktopPortrait) {
    display: block;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 0.8em;
    position: fixed;
    right: -8px;
    top: 110px;
    transition: right $sidebarTransition;
    cursor: pointer;
    z-index: 90;
    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &.close {
      right: -65.86px;
    }
  }
  @media screen and (max-width: $tabletLandscape) {
    right: -15px;
    top: 72px;
  }
}
