@import "../sass/variables";
@import "../sass/breakpoint";

.sidebar-menu {
  z-index: 9999;
  background: $sidebarBgColor;
  color: hsla(0, 0%, 100%, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: $sidebarWide;
  overflow: hidden;
  transition: $sidebarTransition;
  box-shadow: 8px 0px 15px 3px rgba(0, 0, 0, 0.3), 3px 0px 5px rgba(0, 0, 0, 0.22);
  opacity: 1;

  @media screen and (max-width: $desktopPortrait) {
    width: $sidebarNarrow;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  .logo-container {
    height: 95px;
    padding: 10px 15px 0;
    border-bottom: $decoBorderBottom;
    img {
      width: 70%;
    }
    @media screen and (max-width: $desktopPortrait) {
      padding-top: 18px;
    }
  }

  .nav-container {
    padding: 15px;
    margin: 0;
    overflow-y: auto;
    position: absolute;
    top: 95px;
    bottom: 0;
    left: 0;
    width: $sidebarWide;
    transition: $sidebarTransition;
    i.icon {
      margin: 0;
    }

    @media screen and (max-width: $desktopPortrait) {
      width: $sidebarNarrow;
      padding-right: 11px;
    }
  }

  .level-1 {
    padding: 14px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }
    > a {
      color: rgba(255, 255, 255, 0.8);
    }
    .level-1-title {
      padding-bottom: 6px;
    }
  }

  .treeview {
    .level-2,
    .level-3,
    .level-4,
    .level-5 {
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
    }
  }
  .submenu {
    position: relative;
    .caret {
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
      transform-origin: center;
      transition: 0.4s ease;
      &.active {
        transform: rotate(-180deg);
      }
    }
  }

  .nav-link {
    display: block;
    &.active {
      color: #ff6f00 !important;
    }
    &:hover {
      color: white;
      border-bottom: 1px solid #ff6f00;
    }
  }
}
