@import "../sass/variables";
@import "../sass/breakpoint";

.topnav-menu {
  background-color: $topnavBgColor !important;
  border-bottom: $decoBorderBottom !important;

  @media only screen and (max-width: $tabletLandscape) {
    top: 64px !important;
  }

  &.ui.menu {
    border-radius: 0 !important;
    height: $topnavLargeHeight !important;
    // box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3), 0px 6px 10px rgba(0, 0, 0, 0.22) !important;
    .item {
      color: $topnavIconColor !important;
    }
  }

  .ui.search {
    > .results {
      left: -186px !important;
    }
    @media screen and (max-width: $desktopPortrait) {
      font-size: 0.78571429em;
      .ui.input > input {
        width: 140px;
      }
      > .results {
        left: -170px !important;
      }
    }
  }

  .hamburger-bar {
    display: none !important;
  }

  .model-info {
    padding-left: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 20px;
      margin-bottom: 5px;
      white-space: nowrap;
    }
    .model-detailed-info {
      display: flex;
      justify-content: space-between;
      p {
        color: #727272;
        margin-bottom: 0;
        margin-right: 1em;
      }
      span {
        color: #979797;
      }
    }

    @media screen and (max-width: $desktopPortrait) {
      padding-left: 2em;
      h2 {
        font-size: 18px;
      }
      .model-detailed-info {
        p {
          font-size: 12px;
        }
      }
    }

    @media screen and (max-width: "1112px") {
      /* model-detailed-info will stack into multiple line below 1112px,
         display:none for better user interface
      */
      h2 {
        margin-bottom: 0;
      }
      .model-detailed-info {
        display: none;
      }
    }

    @media screen and (max-width: $tabletLandscape) {
      h2 {
        font-size: 16px;
      }
    }
  }

  @media only screen and (max-width: $tabletLandscape) {
    &.ui.menu {
      height: $topnavSmallHeight !important;
    }
    .hamburger-bar {
      display: flex !important;
    }
  }
}

.help-popup {
  max-width: 360px !important;
  width: 360px;
  height: auto;
  position: fixed !important;
  top: 91px !important;
  right: 72px !important;
  padding: 0px !important;
  > div {
    overflow-y: scroll;
    padding: 0.833em 1em;
    max-height: 600px;
  }

  @media screen and (max-width: $tabletLandscape) {
    top: 59px !important;
  }
}

.help-iframe-wrapper {
  display: none;
  position: fixed;
  top: 82px;
  right: 73px;
  width: 400px;
  height: 645px;
  background-color: #fff;
  z-index: 99999;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.188235);

  &.open {
    display: block;
  }

  .help-page-close-icon {
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 20px;
    cursor: pointer;
  }

  iframe {
    border: none;
    width: 400px;
    height: 645px;
  }
}
