// mixin example

@mixin flexCenter($direction, $background) {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: $direction;
  background: $background;
}

// header {
//   @include flexCenter(column, red)
// }

@mixin Mode() {
  background-color: black;
  color: white;
}