@import "./variables";

.refreshbar {
  position: absolute;
  top: 8px;
  right: 1em;
  text-align: right;
  padding: 3px 5px;

  &.segment {
    top: 50%;
    transform: translateY(-50%);
  }
}

.btn-group-container {
  padding-top: 1em;
}
