// semantic-ui default style

// [inverted bg-color]: #1b1c1d;
// [inverted icon-color]: rgba(255,255,255,.9)

// [bg-color]: #fff
// [icon-color]: rgba(0,0,0,.87)

$bgColor: #efefef;
$sidebarBgColor: #2a3139;
$topnavBgColor: #dfdfdf;
$topnavIconColor: rgba(0, 0, 0, 0.87);
$topnavLargeHeight: 95px;
$topnavSmallHeight: 58.91px;
$decoBorderBottom: 2px solid #ff6f00;

$sidebarTransition: 0.6s ease-in-out;
$sidebarWide: 220px;
$sidebarNarrow: 190px;

// big: 208px, small 143px:
$mylarWidth: 143px;
