@import "./sass/variables";
@import "./sass/breakpoint";

.app-container {
  &.sidebar-close .main-panel {
    padding-left: 0;
  }
  &.sidebar-close .topnav-container {
    left: 0;
  }
  &.sidebar-close .sidebar-menu {
    left: -$sidebarWide;
    @media screen and (max-width: $desktopPortrait) {
      left: -$sidebarNarrow;
    }
  }

  .main-panel {
    position: relative;
    transition: $sidebarTransition;
    padding-left: $sidebarWide;
    @media screen and (max-width: $desktopPortrait) {
      padding-left: $sidebarNarrow;
    }
    @media screen and (max-width: $tabletLandscape) {
      padding-left: 0;
    }
  }
  .topnav-container {
    position: fixed;
    left: $sidebarWide;
    right: 0;
    z-index: 20;
    transition: $sidebarTransition;
    @media screen and (max-width: $desktopPortrait) {
      left: $sidebarNarrow;
    }
    @media screen and (max-width: $tabletLandscape) {
      left: 0px;
    }
  }
  .breadcrumb-container {
    padding: calc(#{$topnavLargeHeight} + 2em) 3em 0;
    @media screen and (max-width: $desktopPortrait) {
      padding: calc(#{$topnavLargeHeight} + 2em) 2em 0;
    }
    @media screen and (max-width: $tabletLandscape) {
      padding: calc(#{$topnavSmallHeight} + 2em) 2em 0;
    }
  }
  .main-content-container {
    padding: 2em 3em;
    display: flex;
    .main-content {
      flex: 1 1;
      margin-right: 3em;
    }
    .mylar-panel {
      flex-basis: $mylarWidth;
    }

    @media screen and (max-width: $desktopPortrait) {
      padding: 2em 2em;
      .main-content {
        margin-right: 0;
      }
      .mylar-panel {
        flex-basis: 0;
      }
    }
  }
}
