@font-face {
  font-family: "lato";
  src: url("../semantic/font/Lato-Light.ttf");
  src: url("../semantic/font/Lato-Regular.ttf");
}

body {
  padding: 1em;
  margin: 0;
  font-family: Lato, "Helvetica";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

h1 {
  font-size: 24px;
}

h2,
h3 {
  font-size: 16.38px;
}

a {
  text-decoration: none;
  color: #4183c4;
}

.main-content {
  overflow: hidden;
  visibility: hidden;
}
/* Buttons Style */

.auto-refresh-wrapper,
.button-wrapper,
.dropdown-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}

.auto-refresh-wrapper .ui.toggle {
  margin-right: 3em;
}

.button-wrapper .ui.button {
  margin-right: 1em;
  white-space: nowrap;
}

h2 ~ .ui.button.compact {
  margin: 5px;
}

.dropdown-wrapper .ui.dropdown {
  margin: 1em 1em 1em 0em;
}

/* Pagination Style*/
.pagination {
  border: 1px solid #e3e4e5;
  border-radius: 0.28571429rem;
  display: inline-flex;
}
.pagination > i.icon {
  padding: 5px;
  box-shadow: 0 0 3px #e0e0e0;
  margin-right: 0px;
}

.page_explain {
  margin: 1em 1.5em 1em 1em;
}

/* Content Style */

dt {
  font-weight: bold;
  background-color: #ecf1f6;
  color: #103851;
  padding: 0.5em;
  margin: 0.5em 0;
}

p .checkbox {
  top: 5px;
  left: 5px;
}

/* Input Style*/
select {
  border-radius: 0.28571429rem;
  padding: 6px;
  border-color: rgba(34, 36, 38, 0.15);
  outline: none;
}

/* ------- component Style ---------*/

/* loading component Style*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.myloader-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.myloader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #767676;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 0.7s linear infinite;
}

.myloader + p {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  margin: 10px;
}

/* scrollbutton component Style*/

#scrollTop {
  position: fixed;
  height: 2rem;
  width: 2rem;
  background-color: #4183c4;
  opacity: 0.8;
  color: #f7f7f7;
  border-radius: 50%;
  bottom: 1.5rem;
  right: 1.25rem;
  font-weight: bold;
  line-height: 3.125rem;
  font-size: 1.875rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}
#scrollTop i {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
#scrollTop i.up {
  transform: rotate(-135deg);
}
