/* -*- Mode: java; c-basic-offset: 4; tab-width: 8; c-comment-only-line-offset: 0; -*- */
/*
 
 Copyright (c) 2006-2017 Microsemi Corporation "Microsemi". All Rights Reserved.

 Unpublished rights reserved under the copyright laws of the United States of
 America, other countries and international treaties. Permission to use, copy,
 store and modify, the software and its source code is granted but only in
 connection with products utilizing the Microsemi switch and PHY products.
 Permission is also granted for you to integrate into other products, disclose,
 transmit and distribute the software only in an absolute machine readable
 format (e.g. HEX file) and only in or with products utilizing the Microsemi
 switch and PHY products.  The source code of the software may not be
 disclosed, transmitted or distributed without the prior written permission of
 Microsemi.

 This copyright notice must appear in any copy, modification, disclosure,
 transmission or distribution of the software.  Microsemi retains all
 ownership, copyright, trade secret and proprietary rights in the software and
 its source code, including all modifications thereto.

 THIS SOFTWARE HAS BEEN PROVIDED "AS IS". MICROSEMI HEREBY DISCLAIMS ALL
 WARRANTIES OF ANY KIND WITH RESPECT TO THE SOFTWARE, WHETHER SUCH WARRANTIES
 ARE EXPRESS, IMPLIED, STATUTORY OR OTHERWISE INCLUDING, WITHOUT LIMITATION,
 WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR USE OR PURPOSE AND
 NON-INFRINGEMENT.
 
*/

/* SPOM/Standalone filtering */
@import "/config/filter.css";

body { 
    font-family : Arial, Helvetica, sans-serif;
    font-size : 10pt;
    background-color : white;
}

h1 {
    color : #ffffff;
    background-color : #103851;
    padding : 1ex 1ex 1ex 1ex;
}

h2 {
    color : #103851;
}

fieldset
{
    border : 1px solid #103851;
    margin-bottom : 1ex;
    padding: 6px 10px 10px 10px;
}

legend
{
    font-size : 9pt;
    color: #fff;
    background: #1d76b9;
    border: 1px solid #103851;
    padding: 2px 6px;
}

dt {
    font-size : 12pt;
    font-weight : bold;
    background-color : #abbdcb;
    color : #103851;
    margin: 1ex 0px 1ex 0px;
    padding : 1ex 1ex 1ex 1ex;
}

dd {
    font-size : 9pt;
}

samp {
    font-family: "Courier New", Courier, mono;
    background-color : LightGrey;
    font-weight : bold;
    color : #000000;
    padding : 0px 1ex 0px 1ex;
}

var {
    font-style : italic;
}

.hidden {
    display: none;
}

/* Preserve link style */
A:link { 
    color: blue;
}
A:visited { 
    color: blue;
}

u {
    font-weight : bold;
}


.index {
    font-size : 16pt;
    font-weight : bold;
    margin: 1ex 0px 1ex 0px;
    padding : 1ex 1ex 1ex 0ex;
}

.indexbar {
    background-color : #a8cff1;
    color : #000000;
    padding : 4px 4px 4px 4px;
}
