/* -*- Mode: java; c-basic-offset: 4; tab-width: 8; c-comment-only-line-offset: 0; -*- */
/*
 
 Copyright (c) 2006-2018 Microsemi Corporation "Microsemi". All Rights Reserved.

 Unpublished rights reserved under the copyright laws of the United States of
 America, other countries and international treaties. Permission to use, copy,
 store and modify, the software and its source code is granted but only in
 connection with products utilizing the Microsemi switch and PHY products.
 Permission is also granted for you to integrate into other products, disclose,
 transmit and distribute the software only in an absolute machine readable
 format (e.g. HEX file) and only in or with products utilizing the Microsemi
 switch and PHY products.  The source code of the software may not be
 disclosed, transmitted or distributed without the prior written permission of
 Microsemi.

 This copyright notice must appear in any copy, modification, disclosure,
 transmission or distribution of the software.  Microsemi retains all
 ownership, copyright, trade secret and proprietary rights in the software and
 its source code, including all modifications thereto.

 THIS SOFTWARE HAS BEEN PROVIDED "AS IS". MICROSEMI HEREBY DISCLAIMS ALL
 WARRANTIES OF ANY KIND WITH RESPECT TO THE SOFTWARE, WHETHER SUCH WARRANTIES
 ARE EXPRESS, IMPLIED, STATUTORY OR OTHERWISE INCLUDING, WITHOUT LIMITATION,
 WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR USE OR PURPOSE AND
 NON-INFRINGEMENT.
 
*/

/* SPOM/Standalone filtering */
@import "/config/filter.css";

body { 
    font-family : Arial, Helvetica, sans-serif;
    font-size : 10pt;
    background-color : white;
}

body.content {
    margin-top : 10pt;
    margin-left : 1em;
}

fieldset
{
    border : 1px solid #E16500;
    margin-right : 1em;
    margin-bottom : 1ex;
    padding: 6px 0px 10px 10px;
}

legend
{
    font-size : 9pt;
    color: #fff;
    background: #1d76b9;
    border: 1px solid #103851;
    padding: 2px 6px;
}

div.refreshbar {
    position : absolute;
    top : 10pt;
    right : 1em;
    text-align : right;
}

div.port_list {
    position : absolute;
    top : 10pt;
    left : 420px;
    text-align : right;
}

h1  {
    font-size : 12pt;
    color : #103851;
}

h2  {
    font-size : 11pt;
    color : #103851;
}

td {
    font-size : 10pt;
}

td.hdrc {
    font-weight : bold;
    text-align : center;
}

td.hdrl {
    padding : 0ex 1ex 0ex 1ex;
    font-weight : bold;
}

td.crh {
    padding : 0ex 1ex 0ex 1ex;
    text-align : right;
}

td.cr {
    padding : 0ex 1ex 0ex 1ex;
    text-align : right;
}

td.cl {
    padding : 0ex 1ex 0ex 1ex;
    text-align : left;
}

td.dummy {
    display : none;
}

td.nowrap {
    white-space: nowrap;
}

td.cl_courier {
    padding : 0ex 1ex 0ex 1ex;
    text-align : left;
    font-family: "Courier New", Courier;
    white-space: pre;
}

td.c_courier {
    padding : 0ex 1ex 0ex 1ex;
    text-align : center;
    font-family: "Courier New", Courier;
    white-space: pre;
}

td.mac {
    font-family: "Courier New", Courier;
    white-space: nowrap;
}

td.emphasize {
    font-weight : bold;
}

.block  {
    font-family: "Courier New", Courier;
    white-space: pre;
}

td.c {
    text-align : center;
}

td.ctrtext {
    font-weight : bold;
}

td.cr input {
    text-align : right;
}

td.linkDown {
}

td.linkUp {
}

.alert {
    background-color : #FF0000;
    padding : 3ex 3ex 3ex 3ex;
    border: solid black 3px;
    width: 60%;
    text-align : center;
    font-weight : bold;
    font-size : 12pt;
    color : #FFFFFF;
}

.alert2 {
    background-color : #FF0000;
    text-align : center;
    font-weight : bold;
    font-size : 12pt;
    color : #FFFFFF;
}


.portlabel {
    font-size : 8pt;
    color : #FFFFFF;
    text-align : center;
    margin: 4px 0px 0px 0px;
}

/*******************************/
/* Start of consolidation work */
/*******************************/

table.config {
    border: solid #E16500 1px;
    border-collapse: collapse;
}

table thead tr, tr.config_header {
    background-color : #abbdcb;
    color: black;
}

/* first and non-paired lines */
tr.config,tr.config_even {
    background-color : #FFFFFF;
}

tr.config_odd {
    background-color : #e1eaf0;
}

table.display {
    border: solid #E16500 1px;
    border-collapse: collapse;
}

tr.display_header {
    background-color : #abbdcb;
    color: black;
}

tr.display_separate_header{
    background-color : #abbdaf;
    color: black;
}

/* first and non-paired lines */
tr.display,tr.display_even {
    background-color : #FFFFFF;
}

tr.display_odd {
    background-color : #e1eaf0;
}

th {
    border: solid #E16500 1px;
    font-weight : bold;
    font-size : 11pt;
    padding : 0ex 1ex 0ex 1ex;
}

th.portno {
    border: solid #E16500 1px;
    font-weight : bold;
    font-size : 9pt;
    text-align : center;
    padding : 0px 2px 0px 2px;
}

/* TH-style - only the first cell is a header, next is typically an input element */
td.param_label {
    font-weight : bold;
    background-color : #abbdcb;
    padding : 0ex 1ex 0ex 1ex;
}

/* Frame param leaders */
table.config td.param_label {
    border: solid #E16500 1px;
}

/* TD-style - text describing next cell */
td.displaytext {
    font-weight : bold;
    padding : 0ex 1ex 0ex 1ex;
}

.notice {
    font-style: italic;
}

.hidden {
    display: none;
}

A:link { 
    color: black;
}
A:visited { 
    color: black;
}

/* Wizard Styles */
/* Header text block */
.hwiz {
    color : #103851;
    font-weight : bold;
    font-size   : 11pt;
}
/* Text level block */
.wiz {
    padding : 1ex 4ex 2ex 4ex;
}
/* Add this class if you need a narrow version of any other class. E.g.: "cr no_padding" */
.no_padding {
    padding : 0 !important;
}
