.level-1-item {
    .level-1-checkbox {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 15px;
    }
}

.level-2-item {
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);

    .level-2-checkbox {
        font-size: 18px;
        padding-bottom: 15px;
    }
}

.level-1-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}