@import "../sass/breakpoint";

.middle-section {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(16, 1fr);
  grid-auto-rows: 1fr;

  // grid item not fill up the whole height
  .ui.segments {
    background-color: white;
    height: 100%;
  }
  .device-info-section {
    grid-column: span 8;
    .react-reveal {
      height: 100%;
    }
  }
  .cpu-load-section {
    grid-column: span 8;
  }
}

.ui.segments {
  margin: 0 0;
}
